__pycache__
/output - backupunknown/
/output - default/
/output - halfsize plate_t01/
/output - nextcloud11/
/output - plate_t01/
/output - quartersize plate_t01/
/output - rood, default parameters/
/output - rood, plate certainty threshold 0.1/
/output - nextcloud12/
/weights/
